<% provide(:button_text, 'Add Product') %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
        <% if current_user.admin? %>
        <h1> Welcome Admin!! <h1>
        <% else %>
        <%= link_to "Products", current_user %>
        <% end %>
    </aside>
  </div>
<% else %>

<div class="center jumbotron">
  
  <h1>Welcome to Digi-kart</h1>

  

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
